:root {
    --color-text: hsl(200, 15%, 8%);
    --color-input: hsl(0, 0%, 52%);
    --color-background: hsl(0, 0%, 98%);
    // --color-header-background: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    padding: 0 32px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--color-background);
}

.filters {
    display: none;

    #query, #region {
        font-size: 22px;
        padding: 12px 28px;
        border: none;
        border-radius: 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    #query {
        width: 30%;
    }
}

.filters.active {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 32px;
}

header,
main {
    max-width: 1280px;
    margin: 0 auto;

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;
        list-style: none;
    
        li {
            border-radius: 8px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            overflow: hidden;

            a {
                color: var(--color-text);
                text-decoration: none;
            }
    
            img {
                aspect-ratio: 160/98;
                width: 100%;
            }
    
            .country-name {
                display: block;
                margin-bottom: 10px;
                font-size: 18px;
            }
    
            .info-container {
                padding: 30px 20px;
            }
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    margin: 32px auto 64px;

    button {
        padding: 10px;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }
}


@media only screen and (max-width: 992px) {
    main {
        ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media only screen and (max-width: 768px) {
    main {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and (max-width: 576px) {
    main {
        ul {
            grid-template-columns: 1fr;
        }
    }
}